body {
	width: 980px;
	margin: 0 auto;
}
h1 {
	font-size: 4em;
	text-align: center;
}
h2 {
	margin-top: 10px;
}
form, 
form input,
form select,
form textarea {
	font-size: 13px;
}
form input[type="submit"],
.generalButton {
	background: #666;
	border: none;
	cursor: pointer;
	color: #FFF;
	border-radius: 5px;
	width: 150px;
	height: 30px;
}
form textarea {
	width: 300px;
	height: 150px;
}


form input[type="button"],
.generalButton {
    background: #666;
    border: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}

.generalButton {
	color: #FFFFFF !important;
    display: block;
    height: 25px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
}

.row {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;
}
	.row label {
		float: left;
		width: 200px;
		text-align: right;
		margin-right: 10px;
	}
		.row label strong {
			color: #F00;
		}
	.row input,
	.row select {
		width: 200px;
	}
.hidden {
	display: none !important;
}
	
#selectBox {
	overflow: hidden;
	margin-top: 20px;
}
	#selectBox p {
		float: left;
		font-size: 1.5em;
	}
	#selectBox select {
		float: left;
		font-size: 1.5em;
		margin-left: 5px;
	}
#content {
	width: 100%;
	overflow: hidden;
	font-size: 1.3em;
	background: #E5EECC;
	margin-top: 10px;
	min-height: 400px;
}
	#requestForm {
		width: 100%;
		margin: 10px;
	}
	#responseForm {
		width: 100%;
		margin: 10px;
	}
		#responseContent {
			margin-top: 20px;
			width: 100%;
			font-size: 13px;
		}
			#responseContent .tree {
				margin-left: 20px;
			}
			

.w50 {width:50px!important;}
.w100 {width:100px!important;}
div.operation > * {float:left;}